<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307565940228-9ja1ua4dnro71co3hho7j8to6ldan3ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307565940228-9ja1ua4dnro71co3hho7j8to6ldan3ms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>307565940228-33sbmfu4ge3rm8jk9ci1bv56l5j0ul2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLbTO7_3NTf72mbvsX4OFiUQuIcm1kIWs</string>
	<key>GCM_SENDER_ID</key>
	<string>307565940228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.narrata.app</string>
	<key>PROJECT_ID</key>
	<string>narrata-c257e</string>
	<key>STORAGE_BUCKET</key>
	<string>narrata-c257e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307565940228:ios:650dacebb08d0d0a26af51</string>
</dict>
</plist>